img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p {
	font-family: 'Clicker Script', cursive;
	margin-left: 1.66%;
	font-size: 50px;
	font-weight: 800px;
	text-transform: uppercase;
	color: grey;
	border-bottom: 3px solid #f1f1f1;
	padding-bottom: 20px;
	width: 30%;
}