.conformation{
  width: 200px;
  background-color: rgb(94, 56, 37);
  border: rgb(48, 33, 23);
  color: white;
}
.conformation:hover{
  background-color: rgb(217,192,163);
}
.fa-pencil{
  color: rgba(51,122,183,0.96) !important;
}
.fa-trash-o{
  color: rgba(233,0,88,0.96)  !important;
}
table td{
  vertical-align:middle;
}

.btn-group .btn {
  transition: background-color .3s ease;
}

.panel-table .panel-body {
  padding: 0;
}

.table > thead > tr > th {
  border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align: center;
  width: 50px;
}

.panel-table .panel-body .table-bordered > thead > tr > th.col-tools {
  text-align: center;
  width: 120px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top: 0;
}

.search-form .form-group {
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: rgb(94, 56, 37);
  left: initial;
  font-size: 14px;
}

.pagination-lg /deep/.ngx-pagination .current {
  background: rgb(94, 56, 37);
}
.confirm{
  width: 400px;
  height: 250px;
  font-family: 'Abril Fatface', cursive;
}
.confirm button{
  margin-left: 20px;
}
.btn-group input[type='radio']:checked+label{
  background-color: rgb(217,192,163);
  color: white;
  border: black;
}
.btn-group input[type=radio]{
  display: none;
}
.btn-group label:first-of-type{
  border-radius: 5px 0 0 5px !important;
}
