.detail{
  background: url(../../../assets/img/papper.jpg) no-repeat;
  background-size: cover;
  color: black;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-left: 5%;
}
.description{
  margin-top: -40px;
  left: 20px;
  font-style: italic;
  font-size: 1.2em;
  -webkit-transform: rotateX(50deg) rotateY(3deg);
  -moz-transform: rotateX(50deg) rotateY(3deg);
  -o-transform: rotateX(50deg) rotateY(3deg);
}
.description h1{
  text-align: center;
  padding-left: 80px;
  color: rgb(92, 39, 12);
  font-family: 'Cookie', cursive;
  text-shadow: 1px 1px 2px black;
}

#bottom{
  text-align: justify;
  margin-top: 130px;
  margin-left: -80px;
}
#edit, #delete{
  color: rgb(92, 39, 12);
  margin-right: 20px;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  font-size: 25px;
  -webkit-transform: rotateX(50deg) rotateY(6deg);
  -moz-transform: rotateX(50deg) rotateY(6deg);
  -o-transform: rotateX(50deg) rotateY(6deg);
}
#cancel{
  color: rgb(92, 39, 12);
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  font-size: 25px;
}

.description p:first-of-type{
  margin-left: 70px;
}
.description p:nth-of-type(2){
  margin-left: 50px;
}
.description p:nth-of-type(3){
  margin-left: 50px;
}
.description p:nth-of-type(5){
  margin-left: 40px;
}
.description p:nth-of-type(7){
  margin-left: 25px;
}

#edit:hover{
  color: orange;
}
#delete:hover{
  color: red;
}
#cancel:hover{
  color: dodgerblue;
}

.description p:nth-of-type(odd){
  font-family: 'Abril Fatface', cursive;
  color: rgb(92, 39, 12);
  font-size: 1.2em;
  padding-left: 20%;
}
.description p:nth-of-type(even){
  font-family: 'Cookie', cursive;
  font-size: 1.5em;
  text-align: center;
}

ul{
  list-style-type: none;
}

.success{
  margin-top: 60px;
  text-align: center;
}
.success h1{
  font-family: 'Cookie', cursive;
}
.box:before{
  width: 80px;
  height: 80px;
  position: absolute;
  right: -40px;
  bottom: -40px;
  content: " ";
  z-index: 3;
  background-color: white;
  border-radius: 50%;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.2), -1px -1px rgba(255, 255, 255, 0.4);
}
.box:after{
  width: 80px;
  height: 80px;
  position: absolute;
  left: -40px;
  top: -40px;
  content: " ";
  z-index: 3;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), 1px 1px rgba(255, 255, 255, 0.4);
}
.box {
  background:#fff;
  transition:all 0.2s ease;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid saddlebrown;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition-property: all;
  transition-duration: 0.5s;
}

.box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box:hover:before{
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1), -1px -1px rgba(255, 255, 255, 0.3);
  right: -41px;
  bottom: -41px;

}
.box:hover:after{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), 1px 1px rgba(0, 0, 0, 0.3);
  left: -41px;
  top: -41px;
}
.box span.box-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}

.book:hover > .hardcover_front {
  transform: rotateY(-145deg) translateZ(0);
  z-index: 0;
}

.book:hover > .page li:nth-child(1) {
  transform: rotateY(-30deg);
  transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
  transform: rotateY(-35deg);
  transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
  transform: rotateY(-118deg);
  transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
  transform: rotateY(-130deg);
  transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
  transform: rotateY(-140deg);
  transition-duration: 1.2s;
}
.menu{
  margin: 60px 60px;
}
